.adventure {
  margin-left: 25em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;

  @include match(sm) {
    padding-top: 5em;
  }

  @include match(sm) {
    margin-left: 0;
  }

  &__title {
    @include headingTitle;
    font-weight: 700;

    @include match(sm) {
      margin-left: 1.5em;
    }

    @include match(xs) {
      margin-left: 0.5em;
      font-size: 2rem;
      text-align: center;
    }

    &--darkMode {
      color: $color-white;
    }

    &--lightMode {
      color: $color-primary;
    }
  }
}

.adventureMovies {
  & .section {
    padding-top: 0;
  }
}
