.nav {
  height: 100vh;
  position: fixed;
  z-index: 10;
  padding: 2em 0 0 0;
  width: 25em;
  text-align: center;

  @include match(sm) {
    margin-top: -0.5em;
    transition: all 0.25s linear;
  }

  @include match(xs) {
    width: 100%;
  }

  &__menu--hidden {
    display: none;

    @include match(xs) {
      display: block;
    }
  }

  &__menu--open {
    @include match(sm) {
      left: 0;
    }
  }

  &__menu--close {
    @include match(sm) {
      transform: translateX(-27em);
    }

    @include match(xs) {
      transform: translateX(-60em);
    }
  }

  &__menu--darkMode {
    background: $color-dark-grey;
  }

  &__menu--lightMode {
    background: #fcfcfc;
    -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
    -moz-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
    box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
  }

  &__heading {
    font-size: 2rem;
    padding-bottom: 1.5em;
    padding-top: 1.5em;

    @include match(sm) {
      padding-bottom: 0.5em;
    }

    &--darkMode {
      color: $color-white;
    }

    &--lightMode {
      color: $color-primary;
    }
  }

  &__link {
    display: block;
    transition: background 0.25s ease-in;

    &:hover {
      background: $color-primary;
      color: $color-white;
      opacity: 0.7;
    }

    &__darkMode {
      color: $color-gold;
    }

    &__lightMode {
      color: $color-tertiary;
    }

    &--active {
      background: $color-light-grey;
      color: $color-white;
    }

    &--inactive {
      background: none;
    }
  }

  &__list {
    list-style: none;
  }

  &__listItem {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75em 1em;

    &--darkMode {
      -webkit-box-shadow: -1px 6px 6px 0px rgba($color-primary, 0.65);
      -moz-box-shadow: -1px 6px 6px 0px rgba($color-primary, 0.65);
      box-shadow: -1px 6px 6px 0px rgba($color-primary, 0.65);
    }

    &--lightMode {
      border-bottom: 0.5px solid $color-lighter-grey;
      -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
      -moz-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
      box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
    }
  }
}
