.main {
  margin-top: -0.5em;
  display: flex;

  &__darkMode {
    background: rgb(44, 44, 44);
    transition: background 0.25s linear;
  }

  &__lightMode {
    background: $color-white;
    transition: background 0.25s linear;
  }
}
.section {
  margin-left: 25em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;

  @include match(sm) {
    margin-left: 0;
  }
}
