.action {
  margin-top: 5em;

  &__heading {
    @include headingTitle;

    @include match(sm) {
      margin-left: 0.5em;
    }
  }

  &__card__wrapper {
    @include card-wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

    @include match(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include match(sm) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      margin: 0 0.75em;
    }

    @include match(xs) {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 0.75em;
    }
  }

  &__card {
    border-radius: 1em;

    &__poster {
      border-radius: 1em;
      width: 100%;
    }

    &__title {
      font-size: 1.25rem;

      &--darkMode {
        color: $color-lighter-grey;
      }

      &--lightMode {
        color: $color-primary;
      }
    }

    &__rating {
      &--darkMode {
        color: $color-gold;
      }

      &--lightMode {
        color: $color-tertiary;
      }
    }
  }
}
