.bookmarked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &--darkMode {
    background: $color-dark-grey-1;
  }

  &--lightMode {
    background: $color-white;
  }

  &__defaultText {
    margin-top: -5em;
    font-size: 2rem;
    padding: 0 3em;

    &--darkMode {
      color: $color-lighter-grey;
    }

    &--lightMode {
      color: $color-tertiary;
    }

    @include match(xs) {
      padding: 0 1.5em;
    }
  }
}
