.slider-wrapper {
  @include card-wrapper;
}

.carousel {
  margin-top: 5em;

  @include match(sm) {
    margin-left: 1em;
  }

  &__heading {
    @include headingTitle;

    @include match(sm) {
      margin-left: 0;
    }
  }

  &__error__heading {
    @include headingTitle;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-left: 0;

    &--darkMode {
      color: $color-tertiary;
    }

    &--lightMode {
      color: $color-tertiary;
    }
  }

  &__poster__wrapper {
    width: 17em;
    height: 25em;
    border-radius: 1.5em;

    &--darkMode {
      -webkit-box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
      -moz-box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
      box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    border-radius: 1.5em;
  }
}
