.movie {
  padding-top: 5em;
  padding-bottom: 5em;

  &__heading {
    @include headingTitle;

    @include match(sm) {
      margin-left: 0.5em;
    }
  }

  &__error__heading {
    @include headingTitle;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    &--darkMode {
      color: $color-tertiary;
    }

    &--lightMode {
      color: $color-tertiary;
    }
  }

  &__card__wrapper {
    @include card-wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

    @include match(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include match(sm) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin: 0 0.75em;
    }

    @include match(xs) {
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0 0.75em;
    }
  }

  &__card {
    border-radius: 1em;
    margin-bottom: 2em;

    &__poster {
      border-radius: 1em;
      width: 100%;

      &--darkMode {
        -webkit-box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
        -moz-box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
        box-shadow: 1px 1px 15px 0px rgba($color-light-grey, 0.48);
      }

      &--lightMode {
        -webkit-box-shadow: 1px 1px 15px 0px rgba($color-dark-grey, 0.48);
        -moz-box-shadow: 1px 1px 15px 0px rgba($color-dark-grey, 0.48);
        box-shadow: 1px 1px 15px 0px rgba($color-dark-grey, 0.48);
      }
    }

    &__title {
      font-size: 1.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 25ch;

      @include match(md) {
        max-width: 17ch;
      }

      @include match(sm) {
        max-width: 15ch;
      }

      @include match(xs) {
        max-width: 12ch;
      }

      @include match(xxs) {
        font-size: 0.85rem;
        max-width: 10ch;
      }

      &--darkMode {
        color: $color-lighter-grey;
      }

      &--lightMode {
        color: $color-primary;
      }
    }

    &__rating {
      &--darkMode {
        color: $color-gold;
      }

      &--lightMode {
        color: $color-tertiary;
      }
    }
  }
  &__star__icon {
    font-size: 1.5rem !important;

    @include match(xs) {
      font-size: 1.2rem !important;
    }

    @include match(xxs) {
      font-size: 0.85rem !important;
    }
  }
}
