.singleMovie {
  margin-top: 5em;
  margin-left: 25em;

  @include match(sm) {
    margin-left: 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    padding-right: 3em;
    transition: background 0.25s linear;

    @include match(md) {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }

    &--darkMode {
      background: $color-dark-grey-1;
    }

    &--lightMode {
      background: $color-white;
    }
  }

  &__spinner__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--details {
      margin-top: 5em;

      @include match(sm) {
        margin-top: 0;
      }
    }
  }

  &__video {
    width: 60%;
    margin-right: 5%;

    @include match(md) {
      width: 100%;
      margin-right: 0;
    }

    @include match(sm) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__videoPlayer {
    width: 50%;
    height: 70vh;
    position: fixed;
    z-index: 11;
    border: none;

    @include match(md) {
      width: 100%;
    }

    @include match(sm) {
      height: 60vh;
      z-index: 1;
    }

    @include match(xs) {
      height: 35vh;
    }
  }

  &__description {
    width: 35%;
    padding-top: 3em;
    padding-bottom: 15em;

    @include match(md) {
      margin-top: 70vh;
      width: 100%;
      padding-left: 7em;
      padding-right: 7em;
    }

    @include match(sm) {
      margin-top: 60vh;
      padding-left: 5em;
      padding-right: 5em;
    }

    @include match(xs) {
      margin-top: 35vh;
      padding-left: 2em;
      padding-right: 2em;
    }

    &--darkMode {
      color: $color-white;
    }

    &--lightMode {
      color: $color-primary;
    }
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 0.5em;

    @include match(md) {
      font-size: 3rem;
      text-align: center;
    }

    @include match(sm) {
      font-size: 2.5rem;
    }
  }

  &__overview {
    font-size: 2rem;
    margin-top: 0.75em;
    line-height: 1.7;
    margin-bottom: 1em;

    @include match(md) {
      text-align: center;
    }

    @include match(sm) {
      font-size: 1.5rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    @include match(md) {
      justify-content: center;
    }

    @include match(sm) {
      justify-content: space-around;
    }
  }

  &__listItem {
    text-align: center;
    cursor: pointer;

    @include match(md) {
      &:not(:last-child) {
        margin-right: 5em;
      }
    }
  }

  &__listItemIcon {
    font-size: 3.5rem;
    color: $color-light-grey;

    @include match(xs) {
      font-size: 2.5rem;
    }

    &__iconStyles {
      &--darkMode {
        color: $color-gold;
      }

      &--lightMode {
        color: $color-tertiary;
      }
    }

    &__textStyles {
      &--darkMode {
        color: $color-gold;
      }

      &--lightMode {
        color: $color-tertiary;
      }
    }
  }

  &__listItemText {
    font-size: 1.5rem;
    font-weight: 700;

    @include match(xs) {
      font-size: 1.2rem;
    }
  }

  &__download__wrapper {
    margin-top: 5em;
  }

  &__download__btn {
    width: 80%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    height: 2.5em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    outline: none;
    background: $color-tertiary;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #b92b21;
    }

    &__icon {
      margin-right: 1.5em;
    }
  }

  & .dv-star-rating-non-editable {
    @include match(md) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__similarMovies {
    margin-top: 5em;

    &__heading {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;

      & .dv-star-rating-non-editable {
        @include match(md) {
          left: 0;
          transform: translateX(0);
        }
      }
    }
  }

  & .movie__star__icon {
    font-size: 1rem !important;

    @include match(xs) {
      font-size: 1.2rem !important;
    }

    @include match(xxs) {
      font-size: 0.85rem !important;
    }
  }

  & .movie__card__title {
    max-width: 17ch;

    @include match(md) {
      max-width: 17ch;
    }

    @include match(sm) {
      max-width: 15ch;
    }

    @include match(xs) {
      max-width: 12ch;
    }

    @include match(xxs) {
      font-size: 0.85rem;
      max-width: 10ch;
    }
  }
}

// Star rating preset style name
