// COLORS
$color-primary: #262525;
$color-secondary: #967921;
$color-tertiary: #c93126;

$color-black: #0a0a0a;
$color-gold: #d3a43f;
$color-dark-grey: #333333;
$color-dark-grey-1: rgb(44, 44, 44);
$color-white: #fff;
$color-light-grey: #8c8c8c;
$color-lighter-grey: #d1d1d1;

// $color-tertiary: #344446;
