/* 
    0 - 600px - Phone (extra small)
    601 - 960px - Tablet portrait (small)
    961 - 1280px - Tablet Landscape (medium)
    1281 - 1920px - Laptop screen (large)
    1921px + - Large screens (Extra Large)

*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  min-width: 100%;
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .checkbox__label {
  background: #fff;
}

.checkbox:checked + .checkbox__label .ball {
  -webkit-transform: translateX(2.45em);
          transform: translateX(2.45em);
  background: #333333;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.52em;
  padding: 0.5em;
  width: 5em;
  cursor: pointer;
  border-radius: 5em;
  background: #333333;
  position: relative;
}

.checkbox__icon {
  font-size: 1.9rem !important;
}

.checkbox__icon--moon {
  color: #967921;
}

.checkbox__icon--sun {
  color: #d3a43f;
}

.checkbox__ball {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0.2em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search {
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media (max-width: 960px) {
  .search__hideForm {
    -webkit-transform: translateY(-20em);
            transform: translateY(-20em);
    position: absolute;
  }
}

@media (max-width: 960px) {
  .search__showForm {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 5em;
  }
}

@media (max-width: 960px) {
  .search {
    padding: 0 5em;
  }
}

@media (max-width: 600px) {
  .search {
    padding: 0 2em;
  }
}

.search__input {
  display: block;
  width: 30em;
  margin: 0 auto 0.25em;
  border: none;
  outline: none;
  border-bottom: 1px solid #8c8c8c;
  font-size: 2rem;
  padding: 0.25em 0;
  background: transparent;
}

@media (max-width: 960px) {
  .search__input {
    width: 25em;
  }
}

@media (max-width: 600px) {
  .search__input {
    width: 100%;
  }
}

.search__input--darkMode {
  color: #d1d1d1;
}

.search__input--darkMode::-webkit-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode:-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode::-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode::placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode {
  color: #262525;
}

.search__input--lightMode::-webkit-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode:-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode::-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode::placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__button {
  display: block;
  width: 30em;
  margin: 0 auto;
  padding: 0.3em 0;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
}

.search__button--darkMode {
  background: #d3a43f;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.search__button--darkMode:hover {
  background: #967921;
}

.search__button--darkMode:active {
  background: #d3a43f;
}

.search__button--lightMode {
  background: #c93126;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.search__button--lightMode:hover {
  background: rgba(201, 49, 38, 0.9);
}

.search__button--lightMode:active {
  background: #c93126;
}

@media (max-width: 960px) {
  .search__button {
    width: 25em;
  }
}

@media (max-width: 600px) {
  .search__button {
    width: 100%;
  }
}

.search__button:focus {
  outline: none;
}

.slider-wrapper {
  max-width: 96em;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .slider-wrapper {
    max-width: 65em;
  }
}

@media (max-width: 960px) {
  .slider-wrapper {
    max-width: 96em;
  }
}

.trending {
  margin-top: 5em;
}

@media (max-width: 960px) {
  .trending {
    margin-left: 1em;
  }
}

.trending__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
}

.trending__heading--darkMode {
  color: #d3a43f;
}

.trending__heading--lightMode {
  color: #c93126;
}

@media (max-width: 960px) {
  .trending__heading {
    margin-left: 0;
  }
}

.trending__error__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.trending__error__heading--darkMode {
  color: #d3a43f;
}

.trending__error__heading--lightMode {
  color: #c93126;
}

.trending__error__heading--darkMode {
  color: #c93126;
}

.trending__error__heading--lightMode {
  color: #c93126;
}

.trending__poster__wrapper {
  width: 17em;
  height: 25em;
  border-radius: 1.5em;
}

.trending__poster__wrapper--darkMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
}

.trending__poster {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

.action {
  padding-top: 5em;
  padding-bottom: 5em;
}

.action__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
}

.action__heading--darkMode {
  color: #d3a43f;
}

.action__heading--lightMode {
  color: #c93126;
}

@media (max-width: 960px) {
  .action__heading {
    margin-left: 0.5em;
  }
}

.action__card__wrapper {
  max-width: 96em;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 1280px) {
  .action__card__wrapper {
    max-width: 65em;
  }
}

@media (max-width: 960px) {
  .action__card__wrapper {
    max-width: 96em;
  }
}

@media (max-width: 1280px) {
  .action__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .action__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0.75em;
  }
}

@media (max-width: 600px) {
  .action__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0.75em;
  }
}

.action__card {
  border-radius: 1em;
}

.action__card__poster {
  border-radius: 1em;
  width: 100%;
}

.action__card__poster--darkMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
}

.action__card__poster--lightMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(51, 51, 51, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(51, 51, 51, 0.48);
}

.action__card__title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}

@media (max-width: 1280px) {
  .action__card__title {
    max-width: 17ch;
  }
}

@media (max-width: 960px) {
  .action__card__title {
    max-width: 15ch;
  }
}

.action__card__title--darkMode {
  color: #d1d1d1;
}

.action__card__title--lightMode {
  color: #262525;
}

.action__card__rating--darkMode {
  color: #d3a43f;
}

.action__card__rating--lightMode {
  color: #c93126;
}

.footer {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  position: static;
}

@media (max-width: 960px) {
  .footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    padding: 1em 2em;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.68);
    box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.68);
  }
}

@media (max-width: 960px) {
  .footer__darkMode {
    background: #262525;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
  }
}

.footer__darkMode .footer__link {
  color: #fff;
}

.footer__darkMode .footer__link:hover {
  color: #d3a43f;
}

.footer__darkMode .footer__link--darkActive {
  color: #d3a43f;
}

@media (max-width: 960px) {
  .footer__lightMode {
    background: #fff;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
  }
  .footer__lightMode .footer__link--lightActive {
    color: #c93126;
  }
}

.footer__list {
  display: none;
}

@media (max-width: 960px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 960px) and (max-width: 600px) {
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list__item:last-child {
  cursor: pointer;
  text-align: center;
}

.footer__list__item--darkMode {
  color: #fff;
}

.footer__list__item--lightMode {
  color: #262525;
}

.footer__link {
  color: #262525;
  font-size: 1.2rem;
  text-align: center;
}

.footer__link:hover {
  color: red;
}

.footer__link:active {
  color: red;
}

.fas,
.far {
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .fas,
  .far {
    font-size: 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.68);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.68);
}

@media (max-width: 600px) {
  .header {
    padding: 0 2em;
  }
}

.header__logo {
  color: #d3a43f;
}

.header__darkMode {
  background: #262525;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.header__lightMode {
  background: #fff;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.toolbar {
  margin-bottom: 3.75em;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 10;
  padding: 2em 0 0 0;
  width: 25em;
  text-align: center;
}

@media (max-width: 960px) {
  .nav {
    margin-top: -0.5em;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .nav__menu--open {
    left: 0;
  }
}

@media (max-width: 960px) {
  .nav__menu--close {
    -webkit-transform: translateX(-27em);
            transform: translateX(-27em);
  }
}

@media (max-width: 600px) {
  .nav__menu--close {
    -webkit-transform: translateX(-60em);
            transform: translateX(-60em);
  }
}

.nav__menu--darkMode {
  background: #333333;
}

.nav__menu--lightMode {
  background: #fcfcfc;
  -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
  box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
}

.nav__heading {
  font-size: 2rem;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

@media (max-width: 960px) {
  .nav__heading {
    padding-bottom: 0.5em;
  }
}

.nav__heading--darkMode {
  color: #fff;
}

.nav__heading--lightMode {
  color: #262525;
}

.nav__link {
  display: block;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

.nav__link:hover {
  background: #262525;
  color: #fff;
  opacity: 0.7;
}

.nav__link__darkMode {
  color: #d3a43f;
}

.nav__link__lightMode {
  color: #c93126;
}

.nav__link--active {
  background: #8c8c8c;
  color: #fff;
}

.nav__link--inactive {
  background: none;
}

.nav__list {
  list-style: none;
}

.nav__listItem {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75em 1em;
}

.nav__listItem--darkMode {
  -webkit-box-shadow: -1px 6px 6px 0px rgba(38, 37, 37, 0.65);
  box-shadow: -1px 6px 6px 0px rgba(38, 37, 37, 0.65);
}

.nav__listItem--lightMode {
  border-bottom: 0.5px solid #d1d1d1;
  -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
  box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
}

.main {
  margin-top: -0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__darkMode {
  background: #2c2c2c;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.main__lightMode {
  background: #fff;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.section {
  margin-left: 25em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

@media (max-width: 960px) {
  .section {
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  .section {
    margin-left: 0;
  }
}
/*# sourceMappingURL=index.css.map */