/* 
    0 - 600px - Phone (extra small)
    601 - 960px - Tablet portrait (small)
    961 - 1280px - Tablet Landscape (medium)
    1281 - 1920px - Laptop screen (large)
    1921px + - Large screens (Extra Large)

*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  min-width: 100%;
  position: relative;
}

.search-wrapper {
  margin-left: 25em;
  padding: 5em 0 1em;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox:checked + .checkbox__label {
  background: #fff;
}

.checkbox:checked + .checkbox__label .ball {
  -webkit-transform: translateX(2.45em);
          transform: translateX(2.45em);
  background: #333333;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.52em;
  padding: 0.5em;
  width: 5em;
  cursor: pointer;
  border-radius: 5em;
  background: #333333;
  position: relative;
}

.checkbox__icon {
  font-size: 1.9rem !important;
}

.checkbox__icon--moon {
  color: #967921;
}

.checkbox__icon--sun {
  color: #d3a43f;
}

.checkbox__ball {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0.2em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search {
  width: 100%;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

@media (max-width: 960px) {
  .search {
    padding: 5em;
  }
  .search--darkMode {
    background: #2c2c2c;
  }
  .search--lightMode {
    background: #fff;
  }
}

@media (max-width: 600px) {
  .search {
    padding: 5em 2em;
  }
}

.search__input {
  display: block;
  width: 30em;
  margin: 0 auto 0.25em;
  border: none;
  outline: none;
  border-bottom: 1px solid #8c8c8c;
  font-size: 2rem;
  padding: 0.25em 0;
  background: transparent;
}

@media (max-width: 960px) {
  .search__input {
    width: 25em;
  }
}

@media (max-width: 600px) {
  .search__input {
    width: 100%;
  }
}

.search__input--darkMode {
  color: #d1d1d1;
}

.search__input--darkMode::-webkit-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode:-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode::-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--darkMode::placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode {
  color: #262525;
}

.search__input--lightMode::-webkit-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode:-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode::-ms-input-placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__input--lightMode::placeholder {
  color: rgba(140, 140, 140, 0.6);
}

.search__button {
  display: block;
  width: 30em;
  margin: 0 auto;
  padding: 0.3em 0;
  border: none;
  border-radius: 5px;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
}

.search__button--darkMode {
  background: #d3a43f;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.search__button--darkMode:hover {
  background: #967921;
}

.search__button--darkMode:active {
  background: #d3a43f;
}

.search__button--lightMode {
  background: #c93126;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.search__button--lightMode:hover {
  background: rgba(201, 49, 38, 0.9);
}

.search__button--lightMode:active {
  background: #c93126;
}

@media (max-width: 960px) {
  .search__button {
    width: 25em;
  }
}

@media (max-width: 600px) {
  .search__button {
    width: 100%;
  }
}

.search__button:focus {
  outline: none;
}

.movie {
  padding-top: 5em;
  padding-bottom: 5em;
}

.movie__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
}

.movie__heading--darkMode {
  color: #d3a43f;
}

.movie__heading--lightMode {
  color: #c93126;
}

@media (max-width: 960px) {
  .movie__heading {
    margin-left: 0.5em;
  }
}

.movie__error__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.movie__error__heading--darkMode {
  color: #d3a43f;
}

.movie__error__heading--lightMode {
  color: #c93126;
}

.movie__error__heading--darkMode {
  color: #c93126;
}

.movie__error__heading--lightMode {
  color: #c93126;
}

.movie__card__wrapper {
  max-width: 96em;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 1280px) {
  .movie__card__wrapper {
    max-width: 65em;
  }
}

@media (max-width: 960px) {
  .movie__card__wrapper {
    max-width: 96em;
  }
}

@media (max-width: 1280px) {
  .movie__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 960px) {
  .movie__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 0.75em;
  }
}

@media (max-width: 600px) {
  .movie__card__wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0.75em;
  }
}

.movie__card {
  border-radius: 1em;
  margin-bottom: 2em;
}

.movie__card__poster {
  border-radius: 1em;
  width: 100%;
}

.movie__card__poster--darkMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
}

.movie__card__poster--lightMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(51, 51, 51, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(51, 51, 51, 0.48);
}

.movie__card__title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
}

@media (max-width: 1280px) {
  .movie__card__title {
    max-width: 17ch;
  }
}

@media (max-width: 960px) {
  .movie__card__title {
    max-width: 15ch;
  }
}

@media (max-width: 600px) {
  .movie__card__title {
    max-width: 12ch;
  }
}

@media (max-width: 320px) {
  .movie__card__title {
    font-size: 0.85rem;
    max-width: 10ch;
  }
}

.movie__card__title--darkMode {
  color: #d1d1d1;
}

.movie__card__title--lightMode {
  color: #262525;
}

.movie__card__rating--darkMode {
  color: #d3a43f;
}

.movie__card__rating--lightMode {
  color: #c93126;
}

.movie__star__icon {
  font-size: 1.5rem !important;
}

@media (max-width: 600px) {
  .movie__star__icon {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 320px) {
  .movie__star__icon {
    font-size: 0.85rem !important;
  }
}

.movieList {
  padding-bottom: 15em;
}

.movieList--darkMode {
  background: #2c2c2c;
}

.movieList--lightMode {
  background: #fff;
}

.movieList__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 2em 0;
}

@media (max-width: 320px) {
  .movieList__wrapper {
    padding: 3em 1em 0;
  }
}

.movieList__card {
  border-radius: 1em;
  margin-right: 2em;
}

@media (max-width: 320px) {
  .movieList__card {
    margin-right: 1em;
  }
}

.movieList__card--darkMode {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.33);
  box-shadow: 0px 0px 15px 0px rgba(140, 140, 140, 0.33);
}

.movieList__card--lightMode {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.33);
}

.movieList__card__poster {
  border-radius: 1em;
}

@media (max-width: 600px) {
  .movieList__card__poster {
    max-width: 12em;
    max-height: 18em;
  }
}

.movieList__details {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: auto;
}

.movieList__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.35em;
}

@media (max-width: 320px) {
  .movieList__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .movieList__title {
    font-size: 1.5rem;
  }
}

.movieList__title--darkMode {
  color: #fff;
}

.movieList__title--lightMode {
  color: #262525;
}

.movieList__date {
  font-size: 1.2rem;
  color: #8c8c8c;
  margin-bottom: 3em;
  letter-spacing: 2px;
}

@media (max-width: 320px) {
  .movieList__date {
    font-size: 1rem;
  }
}

.movieList__date--darkMode {
  color: #d1d1d1;
}

.movieList__date--lightMode {
  color: #8c8c8c;
}

.movieList__download__icon {
  font-size: 3rem;
}

@media (max-width: 320px) {
  .movieList__download__icon {
    font-size: 2rem;
  }
}

.movieList__download__icon--darkMode {
  color: #d3a43f;
}

.movieList__download__icon--lightMode {
  color: #c93126;
}

.singleMovie {
  margin-top: 5em;
  margin-left: 25em;
  height: 100%;
}

@media (max-width: 960px) {
  .singleMovie {
    margin-left: 0;
  }
}

.singleMovie__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3em;
  padding-bottom: 15em;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

@media (max-width: 1280px) {
  .singleMovie__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .singleMovie__wrapper {
    padding-bottom: 0;
  }
}

.singleMovie__wrapper--darkMode {
  background: #2c2c2c;
}

.singleMovie__wrapper--lightMode {
  background: #fff;
}

.singleMovie__spinner__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleMovie__spinner__wrapper--details {
  margin-top: 5em;
}

@media (max-width: 960px) {
  .singleMovie__spinner__wrapper--details {
    margin-top: 0;
  }
}

.singleMovie__video {
  width: 60%;
  margin-right: 5%;
}

@media (max-width: 1280px) {
  .singleMovie__video {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .singleMovie__video {
    width: 100%;
    margin-right: 0;
  }
}

.singleMovie__videoPlayer {
  width: 50%;
  height: 70vh;
  position: fixed;
  z-index: 11;
  border: none;
}

@media (max-width: 1280px) {
  .singleMovie__videoPlayer {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .singleMovie__videoPlayer {
    width: 100%;
    height: 45vh;
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .singleMovie__videoPlayer {
    height: 30vh;
  }
}

.singleMovie__description {
  width: 35%;
  padding-top: 3em;
  padding-bottom: 15em;
}

@media (max-width: 1280px) {
  .singleMovie__description {
    margin-top: 70vh;
    width: 100%;
    padding-left: 7em;
    padding-right: 7em;
  }
}

@media (max-width: 960px) {
  .singleMovie__description {
    margin-top: 45vh;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .singleMovie__description {
    margin-top: 30vh;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.singleMovie__description--darkMode {
  color: #fff;
}

.singleMovie__description--lightMode {
  color: #262525;
}

.singleMovie__title {
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}

@media (max-width: 1280px) {
  .singleMovie__title {
    font-size: 3rem;
    text-align: center;
    margin-top: 1em;
  }
}

@media (max-width: 960px) {
  .singleMovie__title {
    font-size: 2.5rem;
  }
}

.singleMovie__overview {
  font-size: 2rem;
  margin-top: 0.75em;
  line-height: 1.7;
  margin-bottom: 1em;
}

@media (max-width: 1280px) {
  .singleMovie__overview {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .singleMovie__overview {
    font-size: 1.5rem;
  }
}

.singleMovie__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .singleMovie__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 960px) {
  .singleMovie__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.singleMovie__listItem {
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .singleMovie__listItem:not(:last-child) {
    margin-right: 5em;
  }
}

.singleMovie__listItemIcon {
  font-size: 3.5rem;
  color: #8c8c8c;
}

@media (max-width: 600px) {
  .singleMovie__listItemIcon {
    font-size: 2.5rem;
  }
}

.singleMovie__listItemIcon__iconStyles--darkMode {
  color: #d3a43f;
}

.singleMovie__listItemIcon__iconStyles--lightMode {
  color: #c93126;
}

.singleMovie__listItemIcon__textStyles--darkMode {
  color: #d3a43f;
}

.singleMovie__listItemIcon__textStyles--lightMode {
  color: #c93126;
}

.singleMovie__listItemText {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  .singleMovie__listItemText {
    font-size: 1.2rem;
  }
}

.singleMovie__download__wrapper {
  margin-top: 5em;
}

.singleMovie__download__btn {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  height: 2.5em;
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.singleMovie__download__btn__icon {
  margin-right: 1.5em;
}

.singleMovie__download__btn--darkMode {
  background: #d3a43f;
}

.singleMovie__download__btn--darkMode:hover {
  background: #967921;
}

.singleMovie__download__btn--lightMode {
  background: #c93126;
}

.singleMovie__download__btn--lightMode:hover {
  background: #b92b21;
}

@media (max-width: 1280px) {
  .singleMovie .dv-star-rating-non-editable {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.singleMovie__similarMovies {
  margin-top: 5em;
}

.singleMovie__similarMovies__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.singleMovie__similarMovies__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media (max-width: 1280px) {
  .singleMovie__similarMovies__wrapper .dv-star-rating-non-editable {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.singleMovie .movie__card {
  height: 100%;
}

.singleMovie .movie__card__poster {
  height: 85%;
}

.singleMovie .movie__star__icon {
  font-size: 1rem !important;
}

@media (max-width: 600px) {
  .singleMovie .movie__star__icon {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 320px) {
  .singleMovie .movie__star__icon {
    font-size: 0.85rem !important;
  }
}

.singleMovie .movie__card__title {
  max-width: 17ch;
}

@media (max-width: 1280px) {
  .singleMovie .movie__card__title {
    max-width: 17ch;
  }
}

@media (max-width: 960px) {
  .singleMovie .movie__card__title {
    max-width: 15ch;
  }
}

@media (max-width: 600px) {
  .singleMovie .movie__card__title {
    max-width: 12ch;
  }
}

@media (max-width: 320px) {
  .singleMovie .movie__card__title {
    font-size: 0.85rem;
    max-width: 10ch;
  }
}

.singleMovie__reviews {
  margin-top: 5em;
}

.singleMovie__reviews__divider {
  width: 95%;
  height: 0.2em;
  background: #8c8c8c;
  margin: 0 0 1.5em;
}

.singleMovie__reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.singleMovie__reviews__heading {
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .singleMovie__reviews__heading {
    font-size: 1.5rem;
  }
}

.singleMovie__reviews__icon {
  cursor: pointer;
}

.singleMovie__reviews__posts {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .singleMovie__reviews__posts {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .singleMovie__reviews__posts {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.singleMovie__reviews__form--hidden {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

@media (max-width: 600px) {
  .singleMovie__reviews__form--hidden {
    position: static;
  }
}

.singleMovie__reviews__form--visible {
  visibility: visible;
  opacity: 1;
  position: static;
}

.singleMovie__reviews__label {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  position: relative;
}

@media (max-width: 600px) {
  .singleMovie__reviews__label {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 320px) {
  .singleMovie__reviews__label {
    width: 2em;
    height: 2em;
  }
}

.singleMovie__reviews__label--darkMode {
  background: #d3a43f;
}

.singleMovie__reviews__label--lightMode {
  background: #c93126;
}

.singleMovie__reviews__label h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .singleMovie__reviews__label h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .singleMovie__reviews__label h2 {
    font-size: 1rem;
  }
}

.singleMovie__reviews__textAreaWrapper textarea {
  font-size: 2.5rem;
  width: 13em;
  color: #8c8c8c;
  border-radius: 0.2rem;
}

@media (max-width: 1280px) {
  .singleMovie__reviews__textAreaWrapper textarea {
    width: 20em;
  }
}

@media (max-width: 600px) {
  .singleMovie__reviews__textAreaWrapper textarea {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .singleMovie__reviews__textAreaWrapper textarea {
    width: 90%;
  }
}

.singleMovie__reviews__textAreaWrapper textarea:focus {
  outline: none;
}

.singleMovie__reviews__btnWrapper {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.singleMovie__reviews__btnWrapper button {
  padding: 0.5em 2.5em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.singleMovie__reviews__btnWrapper button:focus {
  outline: none;
}

.singleMovie__reviews__btnWrapper button:last-child {
  color: #fff;
}

.singleMovie__reviews__btnWrapper button:not(:last-child) {
  margin-right: 1.5em;
}

.singleMovie__reviews__btn__post--darkMode {
  background: #d3a43f;
}

.singleMovie__reviews__btn__post--lightMode {
  background: #c93126;
}

.singleMovie__reviews__title {
  text-align: center;
}

.singleMovie__reviews__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}

@media (max-width: 1280px) {
  .singleMovie__reviews__details {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .singleMovie__reviews__details {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.singleMovie__reviews__details p {
  max-width: 20em;
  font-size: 1.5rem;
}

@media (max-width: 1280px) {
  .singleMovie__reviews__details p {
    max-width: 30em;
  }
}

@media (max-width: 960px) {
  .singleMovie__reviews__details p {
    max-width: 27em;
  }
}

@media (max-width: 600px) {
  .singleMovie__reviews__details p {
    max-width: 17em;
  }
}

@media (max-width: 320px) {
  .singleMovie__reviews__details p {
    max-width: 15em;
    font-size: 1.2rem;
  }
}

.slider-wrapper {
  max-width: 96em;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .slider-wrapper {
    max-width: 65em;
  }
}

@media (max-width: 960px) {
  .slider-wrapper {
    max-width: 96em;
  }
}

.trending {
  margin-top: 5em;
}

@media (max-width: 960px) {
  .trending {
    margin-left: 1em;
  }
}

.trending__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
}

.trending__heading--darkMode {
  color: #d3a43f;
}

.trending__heading--lightMode {
  color: #c93126;
}

@media (max-width: 960px) {
  .trending__heading {
    margin-left: 0;
  }
}

.trending__error__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5em;
  margin-left: 2.7em;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.trending__error__heading--darkMode {
  color: #d3a43f;
}

.trending__error__heading--lightMode {
  color: #c93126;
}

.trending__error__heading--darkMode {
  color: #c93126;
}

.trending__error__heading--lightMode {
  color: #c93126;
}

.trending__poster__wrapper {
  width: 17em;
  height: 25em;
  border-radius: 1.5em;
}

.trending__poster__wrapper--darkMode {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
  box-shadow: 1px 1px 15px 0px rgba(140, 140, 140, 0.48);
}

.trending__poster {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

.footer {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  position: static;
}

@media (max-width: 960px) {
  .footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    padding: 1em 2em;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.68);
    box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.68);
  }
}

@media (max-width: 960px) {
  .footer__darkMode {
    background: #262525;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
  }
}

.footer__darkMode .footer__link {
  color: #fff;
}

.footer__darkMode .footer__link:hover {
  color: #d3a43f;
}

.footer__darkMode .footer__link--darkActive {
  color: #d3a43f;
}

@media (max-width: 960px) {
  .footer__lightMode {
    background: #fff;
    -webkit-transition: background-color 0.25s ease-out;
    transition: background-color 0.25s ease-out;
  }
  .footer__lightMode .footer__link--lightActive {
    color: #c93126;
  }
}

.footer__list {
  display: none;
}

@media (max-width: 960px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 960px) and (max-width: 600px) {
  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list__item:last-child {
  cursor: pointer;
  text-align: center;
}

.footer__list__item--darkMode {
  color: #fff;
}

.footer__list__item--lightMode {
  color: #262525;
}

.footer__link {
  color: #262525;
  font-size: 1.2rem;
  text-align: center;
}

.footer__link:hover {
  color: red;
}

.footer__link:active {
  color: red;
}

.fas,
.far {
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  .fas,
  .far {
    font-size: 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5em;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.68);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.68);
}

@media (max-width: 600px) {
  .header {
    padding: 0 2em;
  }
}

.header__logo {
  color: #d3a43f;
}

.header__darkMode {
  background: #262525;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.header__lightMode {
  background: #fff;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.toolbar {
  margin-bottom: 3.75em;
}

.nav {
  height: 100vh;
  position: fixed;
  z-index: 10;
  padding: 2em 0 0 0;
  width: 25em;
  text-align: center;
}

@media (max-width: 960px) {
  .nav {
    margin-top: -0.5em;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
}

@media (max-width: 600px) {
  .nav {
    width: 100%;
  }
}

.nav__menu--hidden {
  display: none;
}

@media (max-width: 600px) {
  .nav__menu--hidden {
    display: block;
  }
}

@media (max-width: 960px) {
  .nav__menu--open {
    left: 0;
  }
}

@media (max-width: 960px) {
  .nav__menu--close {
    -webkit-transform: translateX(-27em);
            transform: translateX(-27em);
  }
}

@media (max-width: 600px) {
  .nav__menu--close {
    -webkit-transform: translateX(-60em);
            transform: translateX(-60em);
  }
}

.nav__menu--darkMode {
  background: #333333;
}

.nav__menu--lightMode {
  background: #fcfcfc;
  -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
  box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
}

.nav__heading {
  font-size: 2rem;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

@media (max-width: 960px) {
  .nav__heading {
    padding-bottom: 0.5em;
  }
}

.nav__heading--darkMode {
  color: #fff;
}

.nav__heading--lightMode {
  color: #262525;
}

.nav__link {
  display: block;
  -webkit-transition: background 0.25s ease-in;
  transition: background 0.25s ease-in;
}

.nav__link:hover {
  background: #262525;
  color: #fff;
  opacity: 0.7;
}

.nav__link__darkMode {
  color: #d3a43f;
}

.nav__link__lightMode {
  color: #c93126;
}

.nav__link--active {
  background: #8c8c8c;
  color: #fff;
}

.nav__link--inactive {
  background: none;
}

.nav__list {
  list-style: none;
}

.nav__listItem {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75em 1em;
}

.nav__listItem--darkMode {
  -webkit-box-shadow: -1px 6px 6px 0px rgba(38, 37, 37, 0.65);
  box-shadow: -1px 6px 6px 0px rgba(38, 37, 37, 0.65);
}

.nav__listItem--lightMode {
  border-bottom: 0.5px solid #d1d1d1;
  -webkit-box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
  box-shadow: 5px 4px 6px 0px rgba(172, 172, 172, 0.65);
}

.main {
  margin-top: -0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__darkMode {
  background: #2c2c2c;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.main__lightMode {
  background: #fff;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
}

.section {
  margin-left: 25em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

@media (max-width: 960px) {
  .section {
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  .section {
    margin-left: 0;
  }
}
/*# sourceMappingURL=index.css.map */